<style>
  .multi {
     column-count:3;
  }
</style>

<% content_for :heading do %>
  <h1>Suche</h1>
<% end %>


<h2>Nach dem Namen des Rezeptes</h2>

<%= bootstrap_form_tag url: recipes_path, method: :get do |f| %>
  <%= f.text_field :search, label: 'Suchbegriff' %>
  <%= f.submit "Suchen" %>
<% end %>

<h2>Nach den gewünschten Zutaten</h2>


<%= bootstrap_form_tag url: recipes_path, method: :get do |f| %>
  <%= f.form_group :wanted_ingredient_ids do %>
    <% @ingredients.each do |ingredient| %>
      <label>
        <%= check_box_tag "wanted_ingredient_ids[]", ingredient.id %>
        <%= ingredient.name %>
      </label>
      <br>
    <% end %>
  <% end %>

  <div class="actions">
    <%= submit_tag "Suchen" %>
  </div>
<% end %>
