<h1><%= @recipe.name %></h1>

<ul>
<li> Schwierigkeit: <%= @recipe.difficulty %> </li>
<li> Bewertung: <%= @recipe.grade %> </li>
<li> Für <%= @recipe.quantity %> Personen </li>
<li> Zubereitungszeit: <%= @recipe.minutes %> Minuten </li>
</ul>

<h2>Zutaten</h2>

<%= render :partial => "ingredients", :locals => { :r => @recipe } %>

<h2>Zubereitung</h2>

<%= @recipe.instructions %>


