<% content_for :heading do %>
  <h1>Zutaten</h1>
<% end %>

<p><%= link_to 'Neue Zutat', new_ingredient_path %></p>

<% @ingredients.each do |ingredient| %>
  <p id="ingredient_<%= ingredient.id %>"><span><%= ingredient.name %></span>
  <%= link_to 'Edit', edit_ingredient_path(ingredient), class: 'edit_ingredient' %>
  <%= link_to 'Destroy', ingredient, method: :delete, data: { confirm: 'Are you sure?' } %>
<% end %>


