<p id="notice"><%= notice %></p>

<p>
  <strong>Recipe:</strong>
  <%= @contain.recipe %>
</p>

<p>
  <strong>Ingredient:</strong>
  <%= @contain.ingredient %>
</p>

<p>
  <strong>Amount:</strong>
  <%= @contain.amount %>
</p>

<p>
  <strong>Unit:</strong>
  <%= @contain.unit %>
</p>

<%= link_to 'Edit', edit_contain_path(@contain) %> |
<%= link_to 'Back', contains_path %>
